/* -----Fontes----- */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/*-----Cores----- */
:root {
    --temaEscuro: #0e0d0b;
    --temaClaro: #fff0f4;
    --corPrimaria: #f5c2be;
    --corSecundaria: #fceec9;
    --corTerciaria: #a73d3f;
    --corQuarternaria: #b08447;
    --fonteTitulos: "Caveat", cursive;
    --fonteTextos: "Raleway", sans-serif;
    --sombraPrimaria: 0 2px 10px rgba(167, 61, 63, 0.1);
    --sombraSecundaria: 0 2px 10px rgba(176, 132, 71, 0.1);
}
/* -----Titulos----- */
h1,
h2,
h3 {
    font-family: var(--fontePrincipal);
    font-weight: 700;
}
/* -----Textos----- */
p,
a {
    font-family: var(--fonteTextos);
}
/*----- Temas -----*/
body {
    background-color: var(--temaClaro);
    color: var(--temaEscuro);
}
body.dark-theme {
    background-color: var(--temaEscuro);
    color: var(--corQuarternaria);
}

body.dark-theme p,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme a {
    color: var(--corSecundaria);
}

/* -----Centralizar Site----- */
.site {
    width: 1200px;
    margin: 0 auto;
}
/* -----Imagem 100%----- */
img {
    width: 100%;
}

/* -----Menu Navegacao----- */
header {
    width: 100%;
    box-shadow: var(--sombraPrimaria);
}
.menu-header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 200px;
}
.lista-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.lista-menu ul {
    display: flex;
}
.lista-menu ul li {
    list-style: none;
}
.lista-menu ul li a {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
}
.tema {
    display: flex;
    height: 30px;
    gap: 10px;
}
.lua {
    display: none;
}
/* -----Inicio Banner----- */
