/* -----Fontes----- */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/*-----Cores----- */
:root {
    --temaEscuro: #0e0d0b;
    --temaClaro: #fff0f4;
    --corPrimaria: #f5c2be;
    --corSecundaria: #fceec9;
    --corTerciaria: #a73d3f;
    --corQuarternaria: #b08447;
    --fonteTitulos: "Caveat", cursive;
    --fonteTextos: "Raleway", sans-serif;
    --sombraPrimaria: 0 2px 10px rgba(167, 61, 63, 0.1);
    --sombraSecundaria: 0 2px 10px rgba(176, 132, 71, 0.1);
}
/* -----Titulos----- */
h1,
h2,
h3 {
    font-family: var(--fonteTitulos);
    font-weight: 700;
}
/* -----Textos----- */
p,
a {
    font-family: var(--fonteTextos);
}
/*----- Temas -----*/
body {
    transition: all 3s ease-in-out;
    background-color: var(--temaClaro);
    color: var(--temaEscuro);
}
body.dark-theme {
    transition: all 3s ease-in-out;
    background-color: var(--temaEscuro);
    color: var(--corQuarternaria);
}

body.dark-theme p,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3 {
    transition: all 3s ease-in-out;
    color: var(--corSecundaria);
}
body.dark-theme .lista-menu ul li a {
    color: var(--corSecundaria);
    transition: all 3s ease-in-out;
}
body.dark-theme .sobre-faixa {
    transition: all 3s ease-in-out;
    background: var(--corQuarternaria);
}
body.dark-theme .h1 {
    transition: all 3s ease-in-out;
    border: 2px solid var(--corQuarternaria);
}
body.dark-theme .h2 {
    transition: all 3s ease-in-out;
    border: 2px solid var(--corQuarternaria);
}
body.dark-theme .sobre-texto a {
    border: 2px solid var(--corSecundaria);
    color: var(--corSecundaria);
}
body.dark-theme .sobre-texto a:hover {
    transition: all 0.5s ease;
    background-color: var(--corSecundaria);
    color: var(--corQuarternaria);
}

/* -----Centralizar Site----- */
.site {
    width: 1200px;
    margin: 0 auto;
}
/* -----Imagem 100%----- */
img {
    width: 100%;
}

/* -----Menu Navegacao----- */
header {
    width: 100%;
    box-shadow: var(--sombraPrimaria);
}
.menu-header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 200px;
}
.lista-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.lista-menu ul {
    display: flex;
}
.lista-menu ul li {
    list-style: none;
}
.lista-menu ul li a {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 20px;
    color: var(--corTerciaria);
    transition: all 3s ease-in-out;
}
.tema {
    display: flex;
    height: 30px;
    gap: 10px;
}
.lua {
    display: none;
}
.banner {
    overflow: hidden;
}

/* -----Inicio de Sobre  */
.sobre {
    width: 100%;
    margin: 0 auto;
}
.sobre-titulo {
    display: flex;
}
.sobre-titulo h2 {
    text-align: center;
    padding: 40px;
    font-size: 56px;
    color: var(--corTerciaria);
    transition: all 3s ease-in-out;
}
.h1 {
    margin-right: 30px;
    transform: rotate(90deg);
    border: 2px solid var(--corTerciaria);
    transition: all 7s ease-in-out;
}
.h2 {
    margin-left: 30px;
    transform: rotate(90deg);
    border: 2px solid var(--corTerciaria);
    transition: all 7s ease-in-out;
}
.sobre-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sobre-content div {
    width: 30%;
}
.sobre-texto {
    display: flex;
    flex-direction: column;
}
.sobre-texto img {
    margin-bottom: 30px;
}
.sobre-texto p {
    text-align: justify;
    line-height: 1.3em;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--corPrimaria);
}
.sobre-texto a {
    padding: 10px 20px;
    border: 2px solid var(--corPrimaria);
    color: var(--corPrimaria);
    margin: 20px 0;
    font-weight: 700;
    align-self: flex-end;
    border-radius: 8px;
}
.sobre-texto a:hover {
    transition: all 0.5s ease;
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
}

.sobre-faixa {
    transition: all 3s ease-in-out;
    background: var(--corTerciaria);
    width: 100%;
    height: 380px;
    margin-top: -380px;
}
